@font-face {
  font-family: "generalFont";
  src: url("/fonts/Gilroy-Regular.ttf") format("ttf"); }
@font-face {
  font-family: "headersFont";
  src: url("/fonts/Gilroy-Bold.ttf") format("ttf"); }
/* Reset and base styles  */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  height: 100%;
  /* sticky footer */ }

body {
  height: 100%;
  /* sticky footer */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* sticky footer */
  margin: 0;
  font-family: generalFont, sans-serif;
  font-size: 14px;
  color: #fff;
  background-image: url(../../img/body-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

body > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* sticky footer */ }

input, textarea, button {
  font-family: inherit;
  padding: 0; }

label {
  cursor: pointer; }

a {
  text-decoration: none;
  color: #fff; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none; }

/* Grid styles */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

/* Utility */
.none {
  display: none !important; }

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
  /* Just for fun */
  text-align: center;
  background-color: #e2e2e2;
  padding: 50px 0; }

/* Tablet */
@media (max-width: 1199px) {
  .container {
    width: 900px; } }
/* Mobile */
@media (max-width: 899px) {
  .container {
    width: 600px; } }
/* Mobile XS */
@media (max-width: 599px) {
  .container {
    width: 100%; } }
.header {
  background-color: rgba(0, 0, 0, 0.4); }

.header__nav {
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__contacts-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 899px) {
    .header__contacts-desktop {
      display: none; } }

.header__contacts-mobile {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__contacts-mobile a {
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  @media (max-width: 899px) {
    .header__contacts-mobile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.header__contacts-mobile > * + * {
  margin-left: 10px; }

.header__contacts-desktop > * + * {
  margin-left: 40px; }

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__logo p {
    overflow-wrap: anywhere; }
  @media (max-width: 599px) {
    .header__logo {
      font-size: 11px; } }

.header__logo > * + * {
  margin-left: 10px; }

.header__mail > * + * {
  margin-top: 5px; }

.mail-link, .phone-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.phone-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1; }

.mail-link > * + * {
  margin-left: 10px; }

.phone-link > * + * {
  margin-left: 10px; }

/*# sourceMappingURL=main.css.map */