.header{
    background-color: rgba(0, 0, 0, 0.4);
}

.header__nav{
    padding: 12px 0;

    display: flex;
    justify-content: space-between;
}

.header__contacts-desktop{
    display: flex;
    align-items: center;

    @media (max-width: $mobile) {
        display: none;
    }
}

.header__contacts-mobile{
    display: none;
    align-items: center;

    & a{
        flex-shrink: 0;
    }

    @media (max-width: $mobile) {
        display: flex;
    }
    
}

.header__contacts-mobile > * + * {
    margin-left: 10px;
}

.header__contacts-desktop > * + * {
    margin-left: 40px;
}

.header__logo{
    display: flex;
    align-items: center;

    & p{
        overflow-wrap: anywhere;
    }

    @media (max-width: $mobile-xs) {
       font-size: 11px; 
    }
}

.header__logo > * + * {
    margin-left: 10px;
}

.header__mail > * + * {
    margin-top: 5px;
}

.mail-link, .phone-link{
    display: flex;
    align-items: center;

}

.phone-link{
    font-weight: 700;
font-size: 24px;
line-height: 1.1;
}

.mail-link > * + * {
    margin-left: 10px;
}

.phone-link > * + * {
    margin-left: 10px;
}